.container{
    max-width: 50vw;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

input {
    padding: 10px;
    width: 30vw;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
     color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

#resultado{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;    
}

#resultado p{
    margin: 5px 0;
    text-align: left;
}

h1, p{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 14px;
}